<div class='pure-u-1'>
  <div class="posts">
    <h1 class="content-subhead">Welcome</h1>
    <section class="post">
      <header class="post-header">
        <h2 class="post-title">Example Title</h2>

        <p class="post-meta">
          By <a href="#" class="post-author">Jane Doe</a>
        </p>
      </header>

      <div class="post-description">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacinia molestie
          fermentum. Fusce fringilla libero non arcu commodo tempor. Sed commodo purus tellus.
          Praesent id facilisis mi. Aenean id risus dui. Etiam a posuere enim. Curabitur luctus
          dui quis metus dictum, et molestie felis dictum. Integer sit amet nisl ligula. Aliquam
          blandit, nibh consequat fringilla hendrerit, nisl nisi facilisis arcu, ut tincidunt
          magna lectus eget orci. Vestibulum ac urna lectus. In non libero facilisis, rhoncus
          erat vel, viverra lectus. Pellentesque facilisis pharetra risus, eu eleifend risus
          molestie eu.
        </p>
        <p>
          Nunc varius tristique enim, eu aliquam velit posuere sed. Nulla facilisi. Suspendisse
          vel sollicitudin nisi, id feugiat libero. Quisque vehicula augue felis, nec rhoncus orci
          imperdiet nec. Vivamus tempus gravida augue, interdum pretium massa venenatis in.
          Quisque tincidunt, quam vitae tincidunt pulvinar, sapien sem lobortis felis, ut fringilla
          neque elit non augue. Aliquam metus diam, blandit at libero quis, sollicitudin adipiscing
          velit. Mauris lobortis, lacus sed congue pulvinar, lacus lacus varius nibh, quis
          vulputate est sem in odio. Aliquam malesuada laoreet volutpat. Quisque vel nunc sed
          sapien pellentesque aliquet. Fusce sit amet nulla ipsum. Phasellus pharetra laoreet nunc
          in lacinia. Maecenas lorem nisl, auctor vel orci sed, ornare iaculis odio. Vestibulum ac
          est ligula. Donec consequat massa felis, vitae fermentum magna aliquet quis. Quisque
          tincidunt pellentesque sapien, a tempor eros semper ut.
        </p>
      </div>
      <div id="comments"></div>
      <script>React.renderComponent(CommentBox({}), document.getElementById('comments'));</script>
      </script>
    </section>
  </div>
</div>
